<div class="center hero-unit">

  
  <%= link_to "A", {:method => 'update_temp', :temp => 'A', :id => @grade.id}, :class => "btn btn-large btn-primary"  %>
  <%= link_to "B", {:method => 'update_temp', :temp => 'B', :id => @grade.id}, :class => "btn btn-large btn-primary"  %>
  <%= link_to "C", {:method => 'update_temp', :temp => 'C', :id => @grade.id}, :class => "btn btn-large btn-primary"  %>
  <%= link_to "D", {:method => 'update_temp', :temp => 'D', :id => @grade.id}, :class => "btn btn-large btn-primary"  %>
  <%= link_to "E", {:method => 'update_temp', :temp => 'E', :id => @grade.id}, :class => "btn btn-large btn-primary"  %>

  <%= @grade.course_ID %>
  <%= @grade.student_ID %>
  
 
</div>