
<div class="center hero-unit">

<% if @grade.current_question != @grade.total_points + 1 %>

		<div align="right"><font size="6"><%= @grade.current_question %></font></div>

  		<%= link_to "A", edit_grade_path(:temp => 'A', :id => @grade.id), :class => "btn btn-large"  %>
  		<%= link_to "B", edit_grade_path(:temp => 'B', :id => @grade.id), :class => "btn btn-large"  %>
  		<%= link_to "C", edit_grade_path(:temp => 'C', :id => @grade.id), :class => "btn btn-large"  %>
  		<%= link_to "D", edit_grade_path(:temp => 'D', :id => @grade.id), :class => "btn btn-large"  %>
  		<%= link_to "E", edit_grade_path(:temp => 'E', :id => @grade.id), :class => "btn btn-large"  %>
  		<br><br>

<div align="right"><%= link_to "Next", next_grade_path(:id => @grade.id), :class => "btn btn-larg btn-info" %></div>
<% else %>
	<h2>Thank You! You have finished this question set.</h2>
	<!-- display their points here and have a link to "all grades" -->
	<h2> You answered <%= @grade.points %> out of <%= @grade.total_points %> questions correctly. </h2>

	<!-- check grades button here? it is hard to route correctly -->
<% end %>

</div>