<div class="container">
	<% provide(:title, "Sign in") %>
	<h1>Sign in</h1>
	<div class="row">
 		<div class="span6 offset3">
    	<%= form_for(:session, url: sessions_path) do |f| %>
      	<%= f.label :login %>
      	<%= f.text_field :login %>

      	<%= f.label :password %>
      	<%= f.password_field :password %>

      	<%= f.submit "Sign in", class: "btn btn-large btn-info" %>
    	<% end %>

			<table cellSpacing=1 cellPadding=1 width="100%" align="center" >
			<tr>
				<td id = "Instructor Signup"> New Instructor?<br> <%= link_to\
				"Sign up here", instructorsignup_path  %> </td>
				<td id = "Student Signup"> New Student?<br> <%= link_to\
				"Sign up here", studentsignup_path  %> </td>
			</tr>
			</table>
		</div>
	</div>
</div>
