<%= form_for(@student_in_course) do |f| %>
  <% if @student_in_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_in_course.errors.count, "error") %> prohibited this student_in_course from being saved:</h2>

      <ul>
      <% @student_in_course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_ID %><br />
    <%= f.number_field :student_ID %>
  </div>
  <div class="field">
    <%= f.label :course_ID %><br />
    <%= f.number_field :course_ID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
