<div class="center hero-unit">
<h1><%= @student_in_course.course_name %></h1>
<% thisCourse = Course.where(:id => @student_in_course.course_ID) %>

<% thisCourse.each do |c| %>
	
	<% instructor = Instructor.where(:id => c.instructor_ID) %>
	<% instructor.each do |i| %>
		<%= c.active %>
		<%= request.env['action_dispatch.remote_ip'] %>
		<%= i.IP %>
		<% if c.active %>
			<%= link_to 'Participate in this Course!', '#' , :class => "btn btn-large btn-primary" %>
		<% else %>
			<p> You can not participate in this course at this time.</p>
		<% end %>
	<% end %>

<% end %>
</div>