<div class="center hero-unit">
<h1><%= @student_in_course.course_name %></h1>
<% thisCourse = Course.where(:id => @student_in_course.course_ID) %>

<% thisCourse.each do |c| %>
	
	<% instructor = Instructor.where(:id => c.instructor_ID) %>
	<% instructor.each do |i| %>
		<%= c.active %>
		<%= i.IP %> 
		<%= request.env['action_dispatch.remote_ip'] %>
		# <% if c.active and i.IP.to_s == request.env['action_dispatch.remote_ip'].to_s %>
			<%= link_to 'Participate in this Course!', new_grade_path, :class => "btn btn-large btn-primary" %>
		<% elsif !c.active %>
			<p> This course is not active. Please wait for your instructor to make it activate it.</p>
		<% else %>
			<p> You are not on the appropriate wifi to participate in this class.</p>
		<% end %>
	<% end %>

<% end %>
</div>