<p id="notice"><%= notice %></p>

<% provide(:title, @student.login) %>
<div class="row">
 <div class = "span2">
		 <h1 align = center > <%= @student.login %></h1>
	  <%= link_to "Add Course", courses_path(:student_ID =>\
			  @student.id), :class => "btn" %>
		<br>
		<br>
		<%= link_to "Remove Course", show_all_student_in_course_path(:student_ID => @student.id), :class => "btn"%>
	 </div>
	   <div class = "span9 offset1">
	    <h1 align=left>My Account</h1>
      <% studentincourses = StudentInCourse.where(:student_ID => @student.id) %>
	  <div class="tabbable tabs-right" >
	    <ul class = "nav nav-tabs">
			<li class="active"> <a href = "#tab1" data-toggle="tab">My Profile
				</a></li>
          <% studentincourses.each do |c| %>
				  <li><a data-toggle="tab" href="#<%=c.course_name%>">
						  <%= c.course_name%></a></li>
          <% end %>
		            </ul>
		  <div class = "tab-content">
				  <div class="tab-pane active" id="tab1">
						 <p> I'm in our Profile page! </p>
				  </div>
				  <!--Rendering each of the course activation pages-->
				  <% studentincourses.each do |c| %>
				  <div class="tab-pane" id="<%=c.course_name%>">
						  <%= render :partial => 'student_in_courses/show', :locals =>\
								  {:student_in_course => c} %>
				  </div>
		  <%end%>
		 </div>
    	</div>
    </div>
   </div>
   </div>
 </div>



