<p id="notice"><%= notice %></p>

<% provide(:title, @student.login) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @student.login %>
      </h1>
      
      <% studentincourses = StudentInCourse.where(:student_ID => @student.id) %>
      <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Select a course <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">  
          <% studentincourses.each do |c| %>
            <li><%= link_to c.course_name, c %></li>
          <% end %>
          </ul>
        </li>

      <%= link_to "Add course", courses_path(:student_ID => @student.id), :class => "btn btn-large btn-primary" %>
    </section>
  </aside>
</div>
<%= link_to 'Back', students_path %>
