<% provide(:title, @instructor.login) %>
<% courses = Course.where(:instructor_ID => @instructor.id) %>
<div class = "row">
	<div class="span2">
	  <h1 align=center ><%= @instructor.login %></h1>
	  <%= link_to "Add course", new_course_path(:instructor_ID\
				=> @instructor.id), :class => "btn" %>
		<br>
		<br>
		<% if @instructor.has_courses?(@instructor.id) %>
			<%= link_to "Remove Course", show_all_course_path(:instructor_ID => @instructor.id), :class => "btn"%>
		<% end %>
				
	</div>


	<div class = "span9 offset1">
	  <div class="tabbable tabs-right" >
		<br>
		<br>
		<br>
		<br>
	  	<ul class="nav nav-tabs">
			 <li class="active"> <a href = "#tab1" data-toggle="tab"> My
						  Profile</a></li>
			  <% course_tabs = courses.sort_by {|u| u.course_name} %> 
              <% course_tabs.each do |c| %>
			  <li> <a data-toggle="tab" href="#<%=c.course_name%>">
				  <%=c.course_name%></a></li>
              <% end %>
              <li> <a href = "#delete_tab" data-toggle="tab"> Delete Account</a></li>
	    </ul>
	    <div class = "tab-content">
		  <div class="tab-pane active" id="tab1">
			<p> 
				Welcome to your Profile! 
			</p>
			<p>
				Here are some helpful tips to get you started:
			</p>
			<p>
				<b>Creating a Question Set</b> - To create a question set for a course. Find the course in your tabs and click Add Question Set. From here you can enter the date the question set will be presented in class, the total number of questions, and the answers to each question.
			</p>
			<p>
				<b>Launching a Session</b> - First things first: you need to be connected to the Cliqin network in you classroom to launch a session. Once you have connected, you can launch a session and students can start answering the question set for that class period.
			</p>
			<p>
				<b>Signing Out</b> - Signing out deactivates any courses that you have launched. So be sure to sign out when you class is over to deactivate the course.
				</b>
			</p>
		  </div>
			<!--Rendering each of the course activation pages-->
            <% courses.each do |c| %>
			<div class="tab-pane" id="<%=c.course_name%>">
					<%= render :partial => 'courses/show', :locals =>\
							{:course=>c} %>
			</div>
			<% end %>
			<div class = "tab-pane" id="delete_tab">
				<%= render :partial => 'instructors/account_warning', :locals => {:id => @instructor.id} %></div>
	  </div>

	<div>

  </div>
</div>
</div>
</div>

