<% provide(:title, @instructor.login) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @instructor.login %>
      </h1>
    </section>
  </aside>
</div>


<!-- <p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @instructor.login %>
</p>

<p>
  <b>Ip:</b>
  <%= @instructor.IP %>
</p>


<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %> -->
