<!-- app/views/instructors/show.html.erb-->


<% provide(:title, @instructor.login) %>
<div>
      <h1>
        <%= @instructor.login %>    
      </h1>
      <% courses = Course.where(:instructor_ID => @instructor.id) %>
	<div class="tabbable tabs-right" >
	  <ul class="nav nav-tabs">
		 <li class="active"> <a href = "#tab1" data-toggle="tab"> My
						  Profile</a></li>
          <% courses.each do |c| %>
				  <li> <a data-toggle="tab" href="#<%=c.course_name%>">
						  <%=c.course_name%></a></li>
          <% end %>
		  <li> <a data-toggle="tab" href="#add_course"> Add Course</a></li>
	  </ul>
	  <div class = "tab-content">
			 <div class="tab-pane active" id="tab1">
				<p> Im in our Profile page! </p>
			</div>
            <% courses.each do |c| %>
			<div class="tab-pane" id="<%=c.course_name%>">
					<%= render :partial => 'courses/show', :locals =>\
							{:course=>c} %>
			</div>
			<% end %>
			 <div class="tab-pane" id="add_course">
				<%= render :partial => 'courses/new', :locals =>\
					{:course=>Course.new(:instructor_ID => @instructor.id)} %>
			</div>
	  </div>
	<div>
</div>

