<h1>New Question Set</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@answer) do |f| %>
    	<div class="field">     
     		<%= f.label :date_of_lecture %>
     		<%= f.date_select :class_date %>
    	</div>
    	<div class="field">
     		<%= f.label :number_of_questions %>
     		<%= f.number_field :total_points %>
    	</div>
  
    	<%= hidden_field :answer, :course_ID, {value: @answer.course_ID} %>
    	<%= f.submit "Create Question Set", class: "btn btn-large btn-info" %>
    <% end %>
  </div>
</div>
