<div>
	<% course = Course.find(@answer.course_ID) %>
	<% if  course.answer_set_for_date?(@answer.course_ID, @answer.class_date, @answer.id) %>
		<br><br>
		<div align="center"><h3> A Question Set already exists for this course on the date you selected. <br>Please remove the existing Question Set if you would like to create a new one for this date. <br><br></h3>
		<%= link_to 'OK', @answer, :method => :delete , :class => "btn" %></div>
	<% else %>
		<h2>Select the correct answer for each question</h2>
		<form action="change" method="post" id="answer-set-form">
	
		<% for i in 0...@answer.total_points %>
			<p><%= i + 1 %>.
			<% num = i.to_s %>
			<input type="radio" name=<%= i.to_s %> value="A">A
			<input type="radio" name=<%= i.to_s %> value="B">B
			<input type="radio" name=<%= i.to_s %> value="C">C
			<input type="radio" name=<%= i.to_s %> value="D">D
			<input type="radio" name=<%= i.to_s %> value="E">E
			</p>
		<% end %>

		<input type="submit" class="btn btn-large btn-info" value="Submit" value="Validate">
		</form>
	<% end %>
</div>


