<script>
function valbutton(thisform) {
// place any other field validations that you require here
// validate myradiobuttons
	debug(dump(thisform))
	myOption = -1;
	for (i=thisform.0.length-1; i > -1; i--) {
		if (thisform.0[i].checked) {
			myOption = i; i = -1;
		}
	}
	if (myOption == -1) {
		alert("You must select a radio button");
		return false;
	}

	thisform.submit(); // this line submits the form after validation
}
</script>

<div>
	<%= @answer.id %>
	<%= @answer.total_points %>
	<form action="change" method="post">
	
	<% for i in 0...@answer.total_points %>
		<p><%= i + 1 %>.
		<% num = i.to_s %>
		<input type="radio" name=<%= i.to_s %> value="A">A
		<input type="radio" name=<%= i.to_s %> value="B">B
		<input type="radio" name=<%= i.to_s %> value="C">C
		<input type="radio" name=<%= i.to_s %> value="D">D
		<input type="radio" name=<%= i.to_s %> value="E">E
	</p>
	<% end %>

	<input type="submit" value="Submit" onclick="valbutton(change);return false;" value="Validate">
	</form>
</div>


