<p id="notice"><%= notice %></p>

<p>
  <b>Class date:</b>
  <%= @answer.class_date %>
</p>

<p>
  <b>Total points:</b>
  <%= @answer.total_points %>
</p>

<p>
  <b>Answers:</b>
  <%= @answer.answers %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
