<!-- app/views/courses/new.html.erb-->
<div class="row">
  <div class="span6 offset3">
	<h2 align="left">Add a new course</h2>

		  <%= form_for course do |f| %>

      <%= f.label :course_name %>
      <%= f.text_field :course_name %>

      <%= hidden_field :course, :instructor_ID, {value: course.instructor_ID} %>
      <%= f.submit "Create course", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

