<h3> GradeBook: <%= @course.course_name %> </h3>

<table id="roster", border="2" >
<tr>
<th>Student</th>
<% @answers.each do |answer| %>
	<th><%= answer.class_date %></th>
<% end %> 
</tr>

<% @student_in_courses.each do |sic| %>
	
	<tr>
	<% student = Student.find(sic.student_ID) %>
	<td><b> <%= student.login %></b> </td>
	<% @answers.each do |answer| %>
		<td><%= @course.populate_roster_row(sic.student_ID, @course.id, answer.class_date) %></td> <!-- call function from model here -->
	<% end %>
	</tr>
<% end %>

</table>


<%= link_to 'Back to Course Page', course_path(:id => @course.id) %>