<h3> GradeBook: <%= @course.course_name %> </h3>
<h4> x = absent </h4>
<h4> @ = present </h4> 

<table class="table table-bordered table-striped" >
<tr>
<th>Date</th>

<% @answers.each do |answer| %>
	<th><%= answer.class_date.strftime("%b %-d, %Y") %></th>
<% end %> 
</tr>

<tr>
<td><b>Total Points</b></td>

<% @answers.each do |answer| %>
	<td><div align="center"><%= answer.total_points %></div></td>
<% end %>
</tr>

<% @student_in_courses.each do |sic| %>
	
	<tr>
	<% student = Student.find(sic.student_ID) %>
	<td><%= student.login %></td>
	<% @answers.each do |answer| %>
		<td> <div align="center"><%= @course.populate_attendance(sic.student_ID, @course.id, answer.class_date) %> <%= @course.populate_roster_row(sic.student_ID, @course.id, answer.class_date) %></div> </td> 
	<% end %>
	</tr>
<% end %>

</table>


<%= link_to 'Back to Course Page', course_path(:id => @course.id) %>