<h3> GradeBook: <%= @course.course_name %> </h3>
<div align="right"><h5> x = absent </h5>
<h5> @ = present </h5></div> 

<table class="table table-bordered table-striped" >
<tr>
<th>Date</th>

<% @answers.each do |answer| %>
	<th><%= answer.class_date.strftime("%b %-d, %Y") %></th>
<% end %> 
</tr>

<tr>
<td><b>Total Points</b></td>

<% @answers.each do |answer| %>
	<td><div align="center"><b><%= answer.total_points %></b></div></td>
<% end %>
</tr>


<% students = Array.new %>
<% @student_in_courses.each do |sic| %>
	<% student = Student.find(sic.student_ID) %>
	<% students.push student %>
<% end %>
	
<% student_infos = students.sort_by {|u| u.login} %>
<% student_infos.each do |student| %>
	<tr>
	<td><%= student.login %></td>
	<% @answers.each do |answer| %>
		<td> <div align="center"><%= @course.populate_attendance(student.id, @course.id, answer.class_date) %> <%= @course.populate_roster_row(student.id, @course.id, answer.class_date) %></div> </td> 
	<% end %>
	</tr>
<% end %>


</table>


<%= link_to 'Back to Course Page', course_path(:id => @course.id) %>