<p id="notice"><%= notice %></p>

<p>
  <b>Course name:</b>
  <%= @course.course_name %>
</p>

<p>
  <b>Instructor id:</b>
  <%= @course.instructor_ID %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
