<!DOCTYPE html>
<html>
  <head>
    <title>Cliqin</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
			<a class="brand" href = "#">CliqMeIn</a>
			<div class="nav-collapse collapse">
			  <ul class="nav">
				 <li class="active"><%= link_to "Home",    '/' %></li>
                 <li><%= link_to "Help",   '/static_pages/help' %></li>
              	 <li><%= link_to "Student Sign Up", studentsignup_path %></li>
                 <li><%= link_to "Instructor Sign Up", instructorsignup_path %></li>
                 <li><%= link_to "Sign in", signin_path %></li>
                <% if signed_in? %>
                 <li class="dropdown" id="fatmenu">
                 	<a class="dropdown-toggle" data-toggle="dropdown" href="#fatmenu">
                    Account <b class="caret"></b></a>
					<ul class="dropdown-menu">
					  <li><%= link_to "Profile", current_user %></li>
					  <li><%= link_to "Settings", '#' %></li>
					  <li class="divider"></li>
					  <li class="nav-header">
						<%= link_to "Sign out", instructorsignout_path, method: "delete" %>
					  </li>
					</ul>
                </li>
			  </ul>
			  <ul class = "nav pull-right">
                 <li>
                   <%= link_to "Sign out", instructorsignout_path, method: "delete" %>
                 </li>
			  </ul>
            <% else %>
			  </ul>
              <form class="navbar-form pull-right">
			  	<input class = "span2" type = "text" placeholder = "login">
			  	<input class = "span2" type = "password" placeholder ="password">
				<button type= "submit" class="btn">Sign in </button>
				</form>
            <% end %>
		  </div>
        </div>
      </div>
    </header>
	<body>
		<div class = "wrapper">
    		<div class="container">
				<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
				<% end %>
				<%= yield %>
			</div>
			<div class="push"><!--//--></div>
		</div>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>

