<!DOCTYPE html>
<html>
  <head>
    <title>Cliqin</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
			<a class="brand" href = "/">CliqIn</a>
			<div class="nav-collapse collapse">
			  <ul class="nav">
                 <li><%= link_to "About",   '/static_pages/about' %></li>
                <% if signed_in? %>
				 <li><%= link_to "My Profile", current_user %></li>
			   </ul>
			  <ul class = "nav pull-right">
                 <li>
                   <%= link_to "Sign out", instructorsignout_path, method: "delete" %>
                 </li>
			  </ul>
            <% else %>
                 <li><%= link_to "Sign in", signin_path %></li>
			  </ul>
              <div class="navbar-form pull-right">
				<%= form_for(:session, url: sessions_path) do |f| %>
				<%= f.text_field :login , class: "span2",\
								:placeholder => "login"%>
				<%= f.password_field :password , class: "span2", :type =>\
						"password", :placeholder => "password"%>
				<%= f.submit "Sign in", class: "btn"%>
				<% end %>
				</div>
            <% end %>
		  </div>
        </div>
      </div>
    </header>
	<body>
    		<div class="container-fluid">
				<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
				<% end %>
				<%= yield %>
			</div>
			<div class="push"><!--//--></div>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>


  </body>
</html>

