<!DOCTYPE html>
<html>
  <head>
    <title>Cliqin</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
    <header class="navbar navbar-inverse navbar-fixed-top">
	<% if current_page?('/') %>
	  <div>
      <div class="navbar-inner">
	  <% else %>
	  <div id="BORDER">
      <div class="navbar-inner">
	  <% end %>
        <div class="container">
			<div class="nav-collapse collapse">
			  <ul class="nav">
			    <div> <%= link_to(image_tag("logo.jpeg", :alt =>\
						"cliqin"), '/') %></div>
			   </ul>
			  <ul class = "nav pull-right">
                <% if signed_in? %>
				 <li><%= link_to "My Profile", current_user %></li>
                 <li>
                   <%= link_to "Sign out", instructorsignout_path, method: "delete" %>
                 </li>
			  </ul>
            <% end %>
		  </div>
  		</div>
        </div>
      </div>
    </header>
	<body>
			<% if !current_page?('/') %>
			    <div class="container">
			<%end%>
				<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
				<% end %>
				<%= yield %>
		 		</div>
			<div class="push"><!--//--></div>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>


  </body>
</html>

